## Backend

backend/data/**/*
backend/dist/**/*
backend/node_modules/**/*
backend/uploads/*.jpeg

## Frontend

frontend/node_modules/**/*
frontend/download/**/*
frontend/README.md

## Mobile

mobile/node_modules/**/*
mobile/.expo/**
mobile/.expo-shared/**
