## Backend

backend/data/**/*
backend/dist/**/*
backend/node_modules/**/*
backend/uploads/*.jpeg
backend/yarn.lock

## Frontend

frontend/node_modules/**/*
frontend/download/**/*
frontend/README.md
frontend/yarn.lock

## Mobile

mobile/node_modules/**/*
mobile/.expo/**
mobile/.expo-shared/**
mobile/yarn.lock
